{{#paper-card}}
  <img src="{{product.image}}" alt="{{product.name}}" class="product-img">
  {{#paper-card-content}}
    <h2>{{product.name}}</h2>
    <p>
      {{product.description}}
    </p>

  {{/paper-card-content}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button}}Action 1{{/paper-button}}
    {{#paper-button}}Action 2{{/paper-button}}
  </div>
{{/paper-card}}
