{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="assets/logo.png" height="40"/>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item action="transitionTo" param="index"}}Home{{/paper-item}}
        {{#paper-item action="transitionTo" param="about"}}About{{/paper-item}}
        {{#paper-item action="transitionTo" param="coffee"}}Coffee (static){{/paper-item}}
        {{#paper-item action="transitionTo" param="accessories"}}Accessories (static){{/paper-item}}
        {{#each model as |category|}}
          {{#paper-item action="transitionToCategory" param=category}}{{category.name}} (dynamic){{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Page Title</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class="md-padding"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
